// ------------------------ variables, imports, mixins y extends ----------------------------
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

$tipografia-principal: 'Hachi Maru Pop';
$tipografia-secundaria: 'Reggae One', cursive;
$sombra: blanchedalmond 1px 1px;
$color-fondo: rgb(31, 105, 31);
$color-contraste: red;

@mixin letra($tamanio-letra, $tipografia, $color) {
	font-size: $tamanio-letra;
	font-family: $tipografia;
	color: $color;
}

@mixin disenio-tarjeta($color-fondo, $radio) {
	background-color: $color-fondo;
	border-radius: $radio;
	margin: 10px;
}

@mixin contorno-input($borde, $radio, $look-borde) {
	outline: $borde;
	border-radius: $radio;
	border: $look-borde;
}

%alineacion-header-footer {
	display: flex;
	justify-content: center;
	margin: 0;
	height: 2em;
	align-items: center;
	color: white;
	text-align: center;
	width: 100%;
}

%centrar-info {
	display: flex;
	justify-content: center;
}

// --------------------------- diseño de scrollbar y body -------------------

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	&:hover {
		background-color: rgb(28, 70, 28);
	}
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	&:hover {
		background-color: $color-contraste;
	}
}

body {
	background-color: $color-fondo;
	margin: 0;
	overflow-x: hidden;
	@include letra(1rem, $tipografia-secundaria, white);
	@media (max-width: 600px) {
		font-size: 70%;
	}
}

// --------------------- diseño de encabezado, footer y filtros de búsqueda ------------------

h1,
footer {
	@extend %alineacion-header-footer;
	@include letra(2em, $tipografia-secundaria, white);
	background-color: black;
	strong {
		@include letra(1em, $tipografia-principal, white);
		letter-spacing: 2px;
		text-shadow: $color-contraste 2px 2px;
		&::selection {
			background-color: rgb(226, 26, 59);
		}
	}
}

.header {
	opacity: 2;
	background-color: rgba(0, 0, 0, 0.774);
	position: relative;
}

.header-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.582)), url('./assets/hero.jpg');
	width: 100%;
	height: 64vh;
	background-size: cover;
}

form {
	display: flex;
	justify-content: space-evenly;
	label {
		@include letra(1rem, $tipografia-secundaria, white);
	}
	select {
		@include letra(0.9em, $tipografia-principal, white);
		border: none;
		background-color: $color-fondo;
		font-weight: bolder;
		&:focus {
			@include contorno-input(none !important, 6px, 2px solid $color-contraste);
		}
	}
	div {
		@extend %centrar-info;
		align-items: center;
		flex-wrap: wrap;
	}
	@media (min-width: 600px) and (max-width: 900px) {
		flex-direction: column;
		align-items: center;
	}

	@media (max-width: 600px) {
		flex-direction: column;
		div {
			margin: 1vh;
			label {
				display: flex;
				flex-direction: column;
				select {
					margin: 0.5vh;
					width: 7rem;
				}
			}
		}
	}
}

input {
	outline: 0;
	border-width: 0 0 2px;
	background-color: $color-fondo;
}

input::placeholder,
input[type="text"] {
	width: 77vh;
	text-align: center;
	position: relative;
	@include letra(1.5rem, $tipografia-principal, white);
	@media (max-width: 600px) {
		font-size: 3vh;
		max-width: 50vh;
	}
}

input:focus {
	@include contorno-input(none !important, 6px, 2px solid $color-contraste);
}

.imglupa {
	position: absolute;
	width: 30px;
	@media (min-width: 900px) {
		left: 45px;
		top: 615px;
	}
	@media (min-width: 600px) and (max-width: 900px) {
		left: 170px;
		top: 583px;
	}
	@media (max-width: 600px) {
		left: 85px;
		top: 550px;
	}
}

// -------------------------- Títulos introductorios --------------------

.titulo {
	margin-left: 5vw;
}

// ---------------------------- sección de comics ------------------------

section:not(section:first-child) {
	@extend %centrar-info;
	flex-wrap: wrap;
	@media (min-width: 600px) and (max-width: 900px) {
		justify-content: space-evenly;
	}
	article {
		width: 15.5%;
		align-items: center;
		@include disenio-tarjeta($color-fondo, 10px);
		margin-bottom: 5em;
		&:hover {
			cursor: pointer;
			.imagen {
				transform: skew(1deg) scale(1.02);
				transition: 0.09s;
			}
			p {
				transition: 0.2s;
				color: $color-contraste;
				text-shadow: $sombra;
				font-weight: bolder;
			}
		}

		.imagen {
			width: 100%;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		@media (max-width: 600px) {
			min-width: 25%;
		}
	}
}

// -------------------------- botones ----------------------

button {
	background-color: #1b411d;
	border-radius: 6px;
	padding: 8px 15px;
	cursor: pointer;
	@include letra(1.2rem, $tipografia-principal, white);
	margin: 1em;
	&:hover {
		background-color: $color-contraste;
		transition: 0.2s;
	}
	@media (max-width: 600px) {
		font-size: 1em;
	}
}

.centrar-boton {
	@extend %centrar-info;
	margin: 5em;
}
