@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
h1,
footer {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 2em;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
}

.center-button, section:not(section:first-child), form div {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track:hover {
  background-color: #1c461c;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: red;
}

body {
  background-color: #1f691f;
  margin: 0;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "Reggae One", cursive;
  color: white;
}
@media (max-width: 600px) {
  body {
    font-size: 70%;
  }
}

@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.loader {
  top: 300px;
  position: relative;
  width: 80px;
  height: 80px;
  left: 600px;
}
@media (max-width: 900px) {
  .loader {
    top: 400px;
    left: 400px;
  }
}
@media (max-width: 600px) {
  .loader {
    left: 200px;
  }
}

.loader div {
  position: absolute;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

.overlay {
  touch-action: none;
  overflow-x: hidden;
  width: 100%;
  height: 300vh;
  background-color: rgba(218, 207, 207, 0.397);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.hidden {
  display: none;
}

h1,
footer {
  font-size: 2em;
  font-family: "Reggae One", cursive;
  color: white;
  background-color: black;
}
h1 strong,
footer strong {
  font-size: 1em;
  font-family: "Hachi Maru Pop";
  color: white;
  letter-spacing: 2px;
  text-shadow: red 2px 2px;
}
h1 strong::selection,
footer strong::selection {
  background-color: #e21a3b;
}

.header {
  opacity: 2;
  background-color: rgba(0, 0, 0, 0.774);
  position: relative;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.582)), url("./assets/hero.jpg");
  width: 100%;
  height: 64vh;
  background-size: cover;
}

form {
  display: flex;
  justify-content: space-evenly;
}
form label {
  font-size: 1rem;
  font-family: "Reggae One", cursive;
  color: white;
}
form select {
  font-size: 0.9em;
  font-family: "Hachi Maru Pop";
  color: white;
  border: none;
  background-color: #1f691f;
  font-weight: bolder;
}
form select:focus {
  outline: none !important;
  border-radius: 6px;
  border: 2px solid red;
}
form div {
  align-items: center;
}
@media (max-width: 900px) {
  form div {
    flex-wrap: wrap;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  form {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  form {
    flex-direction: column;
  }
  form div {
    margin: 1vh;
  }
  form div label {
    display: flex;
    flex-direction: column;
  }
  form div label select {
    margin: 0.5vh;
    width: 7rem;
  }
}

input {
  outline: 0;
  border-width: 0 0 2px;
  background-color: #1f691f;
}

input::placeholder,
input[type=text] {
  width: 73vh;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Hachi Maru Pop";
  color: white;
}
@media (max-width: 600px) {
  input::placeholder,
input[type=text] {
    font-size: 3vh;
    max-width: 50vh;
  }
}

input:focus {
  outline: none !important;
  border-radius: 6px;
  border: 2px solid red;
}

.loupe-container {
  position: relative;
}
.loupe-container img {
  position: absolute;
  width: 30px;
  left: 25px;
  top: 10px;
}
@media (max-width: 600px) {
  .loupe-container img {
    left: 8px;
    top: 5px;
  }
}

.title {
  margin-left: 5vw;
}

section:not(section:first-child) {
  flex-wrap: wrap;
}
@media (min-width: 900px) {
  section:not(section:first-child) {
    margin: 25px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  section:not(section:first-child) {
    justify-content: space-evenly;
  }
}

aside {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.comic {
  width: 15.5%;
  align-items: center;
  background-color: #1f691f;
  border-radius: 10px;
  margin: 10px;
  height: 460px;
}
.comic:hover {
  cursor: pointer;
}
.comic:hover .img-container {
  transform: skew(1deg) scale(1.02);
  transition: 0.09s;
}
.comic:hover p {
  transition: 0.2s;
  color: red;
  text-shadow: blanchedalmond 1px 1px;
  font-weight: bolder;
}
.comic .img-container {
  width: 100%;
  overflow: hidden;
}
.comic .img-container img {
  width: 100%;
  min-height: 200px;
}
@media (min-width: 1600px) {
  .comic {
    height: 630px;
  }
}
@media (min-width: 900px) and (max-width: 1600px) {
  .comic {
    height: 450px;
  }
}
@media (max-width: 900px) {
  .comic {
    height: 300px;
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  .comic {
    min-width: 25%;
    height: 300px;
    font-size: 10px;
  }
}

.picked-comic {
  display: flex;
}
.picked-comic div {
  margin: 20px;
}
.picked-comic div p:nth-child(odd) {
  font-family: "Hachi Maru Pop";
}
@media (max-width: 900px) {
  .picked-comic .img-container {
    align-self: center;
  }
}
.picked-comic .img-container img {
  width: 300px;
}
@media (max-width: 900px) {
  .picked-comic {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .picked-comic {
    flex-direction: column;
  }
}

.character {
  display: flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
}
.character .img-container {
  width: 180px;
  min-height: 350px;
}
.character .img-container img {
  background-color: red;
  padding-bottom: 5px;
  width: 180px;
  height: 250px;
}
.character div:last-child {
  background-color: #353232;
}
.character div:last-child h2 {
  font-size: 15px;
  margin: 10px;
}
.character:hover .img-container {
  overflow: hidden;
}
.character:hover .img-container img {
  transform: scale(1.1);
  transition: 0.2s;
}
.character:hover div:last-child {
  background-color: red;
  transition: 0.2s;
}

button {
  background-color: #1b411d;
  border-radius: 6px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Hachi Maru Pop";
  color: white;
  margin: 1em;
}
button:hover {
  background-color: red;
  transition: 0.2s;
}
@media (max-width: 600px) {
  button {
    font-size: 1em;
  }
}

.center-button {
  margin: 5em;
}

/*# sourceMappingURL=style.css.map */
